.App_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 10rem;
}
.restart_btn{
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  margin: 1rem auto;
  cursor: pointer;
  width: 60px;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.author{
  margin-top: 1rem;
}
.quote{
  padding: 1rem;
  border-left: 2px solid chocolate;
  min-width: 50rem;
  background: #eeeeee;
}