.App_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 10rem;
}
.restart_btn{
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.author{
  margin-top: 1rem;
  font-weight: bold;
}
.quote{
  padding: 1rem;
  border-left: 2px solid chocolate;
  width: 50rem;
  background: #eeeeee;
}

.dark{
  background: black;
  color: white;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}